html, body {
    margin: 0; /* Убираем отступы для всего документа */
}

body {
background: url(https://s3.amazonaws.com/ooomf-com-files/eDLHCtzRR0yfFtU0BQar_sylwiabartyzel_themap.jpg) no-repeat center center fixed; /* Путь к фоновому изображению */
background-color: #c7b39b; /* Цвет фона */
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover; /* Масштабируем фон */
font-family: 'Open Sans', sans-serif;
}

/* Стили меню */
.menu {
    background: #333; /* Цвет фона */
    color: white; /* Цвет текста */
    height: 40px; /* Высота */
}
.menu h1 {
    margin: 0; /* Отступы */
    float: left; /* Расположение слева */
    line-height: 40px;
    font-size: 26px;
    padding-left: 10px; 
}
.menu ul {
    margin: 0; /* Отключем внешние отступы */
    list-style: none; /* Стиль маркеров */
    padding: 0; /* Отключем внутрение отступы */
    float: right; /* Расположение справа */
}

.menu ul li {
    display: inline; /* Расположить в линию */
}

.menu ul li a{
    float: left; 
    text-decoration: none; 
    color: white; 
    background-color: #333; 
    line-height: 40px;
    padding-right: 15px;
    padding-left: 15px;
        
}
.menu ul li a:hover{
   color: #fff;
   background-color:#0b75b2;
   }


.content {
    width: 80%;
    margin: 50px auto;
    background: white;
    padding: 20px;
}
.content h1 {
    margin-top: 0px;
}
.content img { 
    width: 300px;
    float: left;
    margin-right: 20px;
}
.promo {
    text-align: center;
    margin-top: 200px;
}
.promo h1 {
    color: #fff;
  
}
.promo h3 {
    color: #fff;
    background-color: rgba(180, 180, 180, 0.52);
    display: inline-block;
    padding: 0 10px;
    
}
.promo p {
    width: 100%; 
}
.promo a {
    background: #2DB6CF;
    padding: 0 10px;
    height: 50px;
    width: 200px;
    display: block;
    margin: 0 auto;
    line-height: 50px;
    text-decoration: none;
    color: #fff;
    border-radius: 3px;
}

.contact-form { 
        background: #fff;
    }

@media only screen and (max-width: 480px) {
    .content img {
        width: 100%;
    }
    body {
    background: none; 
    }
    
    .menu ul {
        width: 100%;
    }
    .menu ul li a {
        width: 100%;
        float: left;
        text-align: center;
        padding: 0;
    }
    
    .menu h1 {
        width: 100%;
        padding: 0;
    }
    .menu ul li {
        display: block; /* Расположить в линию */
    }  
    .content {
        width: 100%;
        padding: 0; 
}
    
    